<!DOCTYPE HTML>
<html>
<head>
    <title>登录</title>
    <!-- Custom Theme files -->
    <link href="/static/blog/css/login.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="后台登录"/>

</head>
<body>
<div class="login-form">
    <div class="top-login">
        <span><img src="/static/blog/img/login/group.png" alt=""/></span>
    </div>
    <h1>个人博客登录</h1>
    <div class="login-top">
        <form>
            {% csrf_token %}
            <div class="login-ic">
                <i></i>
                <input type="text" id="user"/>
                <div class="clear"></div>
            </div>
            <div class="login-ic">
                <i class="icon"></i>
                <input type="password" id="pwd"/>
                <div class="clear"></div>
            </div>
            <div class="log-bwn">
                <input type="submit" class="login_btn" value="登录">
            </div>
        </form>
    </div>

</div>
</body>
<script>
    $(function () {
        $(".login_btn").click(function () {
            $.ajax({
                url:"",
                type:"post",
                data:{
                    user:$("#user").val(),
                    pwd:$("#pwd").val(),
                    csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                },
                success:function (data) {
                    console.log(data)
                }
            })
        })


    })
</script>
</html>