<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/blog/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/css/register.css">
    <script src="/static/blog/js/register.js"></script>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
        <h3 class="title">注册页面</h3>
            <form id="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error pull-right"></span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="avatar">
                        <span id="avatar_style">头像</span>
                        <img src="/static/blog/img/default.png" id="avatar_img" style="display:inline;width: 30px;height: 30px">
                    </label>
                    <input type="file" name="avatar" id="avatar">
                </div>
                <input type="button" class="btn btn-success reg_btn" value="注册"><span class="error"></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>