<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/blog/bootstrap/css/bootstrap.css">
    <style>
        *{padding: 0;margin: 0;}
        html{
            height: 100%;
        }
        body{

            background: url("/static/blog/img/login/login_img.jpg") no-repeat;
            background-size: 100% 100%;
            position: absolute;
        }
        .container  .title{
            text-align: center;
        }
        label{font-size: 18px}

    </style>
</head>
<body>
<div class="container">
    <h3 class="title">注册页面</h3>
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form id="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error pull-right"></span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="avatar">
                        <span id="avatar_style">头像</span>
                        <img src="/static/blog/img/default.png" id="avatar_img" style="display:inline;width: 30px;height: 30px">
                    </label>
                    <input type="file" name="avatar" id="avatar">
                </div>
                <input type="button" class="btn btn-success reg_btn" value="注册"><span class="error"></span>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("#avatar").change(function () {
            var file_obj = $(this)[0].files[0];

            var reader = new FileReader();
            reader.readAsDataURL(file_obj);

            reader.onload = function () {
                $("#avatar_img").attr("src",reader.result)
            }

        });



        $(".reg_btn").click(function () {
            // 获取注册信息
            var formdata = new FormData();

            //serializeArray() 方法通过序列化表单值来创建对象数组（名称和值）。
            var request_data = $("#form").serializeArray();
            $.each(request_data,function (index,data) {
                formdata.append(data.name,data.value)
            });
            formdata.append("avatar",$("#avatar")[0].files[0]);

            $.ajax({
                url:"",
                type:"post",
                contentType:false,
                processData:false,
                data:formdata,
                success:function (data) {
                    if(data.user_info){
                        location.href = "/login/"
                    }else {
                        console.log(data.msg);
                        $("span.error").html("");
                        $(".form-group").removeClass("has-error");
                        $.each(data.msg,function (filed,error_list) {

                            if(filed === "__all__"){
                                $("#id_re_pwd").next().html(error_list[0]).parent().addClass("has-error")
                            }else {
                                $("#id_"+filed).next().html(error_list[0]).parent().addClass("has-error")
                            }

                        })
                    }
                }
            }
            );

        })

    })


</script>
</html>